<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
    <body>

        <div th:fragment="index" class="post-wrapper">
            <div class="post-content">
                <a class="button w-button" th:href="@{/admin/compose}">Novo</a>
                <br /><br />
                <div class="body-copy w-richtext">
                    <ul class="striped-list">
                        <li th:each="post: ${posts}">
                            <span class="span-show-id" th:text="'id: ' + ${post.id}"></span>
                            <a th:href="@{/admin/deletepost(id=${post.id})}"><img th:src="@{../images/delete-icon.png}" width="16"></a>&nbsp;&nbsp;&nbsp;
                            <a th:href="@{/admin/updatepost(id=${post.id})}"><img th:src="@{../images/edit-icon.png}" width="16"></a>&nbsp;&nbsp;&nbsp;
                            <img th:src="@{../images/comments-icon.png}" width="16"><span th:text="'(' + ${#lists.size(post.comments)} + ')'"></span>&nbsp;&nbsp;&nbsp;
                            <span th:text="${post.title}"></span>
                            <span class="span-show-createdat" th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy | HH:mm:ss')}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </body>

</html>