<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<!-- FRONT ARTICLE -->
	<div th:fragment="frontArticle" class="post-wrapper">
		<a th:href="'/postid/' + ${frontPageFacade.postFacade.id}">
			<div class="blog-page-image" th:style="'background:url(' + ${frontPageFacade.postFacade.coverImage} + ');'"></div>
		</a>
		<div class="post-content">
			<a th:href="'/postid/' + ${frontPageFacade.postFacade.id}" style="text-decoration: none;color: #000000;"><h1 th:text="${frontPageFacade.postFacade.title}"></h1></a>
			<div class="details-wrapper">
				<div th:with="date=${frontPageFacade.postFacade.createdAt}" class="post-info"
					 th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
				<div class="post-info">|</div>
				<div class="post-info" th:text=" '(' + ${frontPageFacade.postFacade.comments} + ') Comments'"></div>
				<div class="post-info">|</div>
				<a   class="post-info when-link" href="http://denali-template.webflow.io/categories/art">Art</a>
			</div>
			<div class="grey-rule"></div>
			<div class="body-copy w-richtext">
				<div th:if="${#strings.length(frontPageFacade.postFacade.text) >= 200}" th:text="${#strings.substring(frontPageFacade.postFacade.text, 0, 200)}" class="post-summary-wrapper">
					<p class="post-summary" th:if="${#strings.length(postFacade.text) >= 130}" th:text="${#strings.substring(postFacade.text, 0, 130)}"></p>
					<p class="post-summary" th:unless="${#strings.length(postFacade.text) >= 130}" th:text="${#strings.substring(postFacade.text, 0, #strings.length(postFacade.text))}"></p>
					<a class="read-more-link" th:href="/postid/${frontPageFacade.postFacade.id}">Saiba mais...</a>
				</div>
				<div th:unless="${#strings.length(frontPageFacade.postFacade.text) >= 200}" th:text="${#strings.substring(frontPageFacade.postFacade.text, 0, #strings.length(frontPageFacade.postFacade.text))}" class="post-summary-wrapper">
					<p class="post-summary" th:if="${#strings.length(postFacade.text) >= 130}" th:text="${#strings.substring(postFacade.text, 0, 130)}"></p>
					<p class="post-summary" th:unless="${#strings.length(postFacade.text) >= 130}" th:text="${#strings.substring(post.text, 0, #strings.length(postFacade.text))}"></p>
					<a class="read-more-link" th:href="'/postid/' + ${frontPageFacade.postFacade.id}">Saiba mais...</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- FRONT PAGE POSTS -->
	<div th:fragment="posts" th:each="fpp: ${frontPageFacade.postFacades}" class="w-dyn-item">
		<div class="post-wrapper">
			<div class="post-content">
				<div class="w-row">
					
					<div class="w-col w-col-4 w-col-medium-4">
						<a class="blog-image w-inline-block"
						   th:href="'/postid/' + ${fpp.post.id}"
						   th:style="'background-image: url('+ ${fpp.coverImage} +');'">
						</a>
					</div>
					
					<div class="w-col w-col-8 w-col-medium-8">
						
						<a class="blog-title-link w-inline-block" th:href="'/postid/' + ${fpp.post.id}">
							<h2 th:text="${fpp.post.title}" class="blog-title"></h2>
						</a>
						
						<div class="details-wrapper">
							<div class="post-info"
								 th:with="date=${fpp.post.createdAt}"
								 th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
							<div class="post-info">|</div>
							<div class="post-info" th:text=" '(' + ${fpp.commentCount} + ') Comments'"></div>
							<div class="post-info">|</div>
							<a   class="post-info when-link" href="http://denali-template.webflow.io/categories/art">Art</a>
						</div>
						
						<div class="post-summary-wrapper">
							<p class="post-summary" th:if="${#strings.length(fpp.post.text) >= 130}" th:text="${#strings.substring(fpp.post.text, 0, 130)}"></p>
							<p class="post-summary" th:unless="${#strings.length(fpp.post.text) >= 130}" th:text="${#strings.substring(fpp.post.text, 0, #strings.length(fpp.post.text))}"></p>
							<a class="read-more-link" th:href="'/postid/' + ${fpp.post.id}">Saiba mais...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ALL POSTS -->
	<div th:fragment="allposts" th:each="fpp: ${allposts}" class="w-dyn-item">
		<div class="post-wrapper">
			<div class="post-content">
				<div class="w-row">
					
					<div class="w-col w-col-4 w-col-medium-4">
						<a class="blog-image w-inline-block"
							th:href="'/postid/' + ${fpp.post.id}"
							th:style="'background-image: url('+ ${fpp.coverImage} +');'">
						</a>
					</div>
					
					<div class="w-col w-col-8 w-col-medium-8">
						
						<a class="blog-title-link w-inline-block" th:href="'/postid/' + ${fpp.post.id}">
							<h2 th:text="${fpp.post.title}" class="blog-title"></h2>
						</a>
						
						<div class="details-wrapper">
							<div class="post-info"
									th:with="date=${fpp.post.createdAt}"
									th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
							<div class="post-info">|</div>
							<div class="post-info" th:text=" '(' + ${fpp.commentCount} + ') Comments'"></div>
							<div class="post-info">|</div>
							<a   class="post-info when-link" href="http://denali-template.webflow.io/categories/art">Art</a>
						</div>
						
						<div class="post-summary-wrapper">
							<p class="post-summary" th:if="${#strings.length(fpp.post.text) >= 130}" th:text="${#strings.substring(fpp.post.text, 0, 130)}"></p>
							<p class="post-summary" th:unless="${#strings.length(fpp.post.text) >= 130}" th:text="${#strings.substring(fpp.post.text, 0, #strings.length(fpp.post.text))}"></p>
							<a class="read-more-link" th:href="'/postid/' + ${fpp.post.id}">Saiba mais...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>