<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:spring="http://www.springframework.org/tags" 
	  xmlns:form="http://www.springframework.org/tags/form">
<body>

	<!-- FRONT ARTICLE -->
	<div th:fragment="frontArticle" class="post-wrapper">
		<a th:href="'/postid/' + ${frontPageFacade.postFacade.id}">
			<div class="blog-page-image" th:style="'background-image:url(' + ${frontPageFacade.postFacade.coverImage} + ');'"></div>
		</a>
		<div class="post-content">
			<a th:href="'/postid/' + ${frontPageFacade.postFacade.id}" style="text-decoration: none;color: #000000;"><h1 th:text="${frontPageFacade.postFacade.title}"></h1></a>
			<div class="details-wrapper">
				<div th:with="date=${frontPageFacade.postFacade.createdAt}" class="post-info"
					 th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
				<div class="post-info">|</div>
				<div class="post-info" th:text=" '(' + ${frontPageFacade.postFacade.comments} + ') Comments'"></div>
				<div class="post-info">|</div>
				<a class="post-info when-link" th:each="tag: ${frontPageFacade.postFacade.tags}" 
											   th:href="'/tags/'+${tag.name}"
											   th:text="${tag.name}"></a>
			</div>
			<div class="grey-rule"></div>
			<div class="body-copy w-richtext">
				<div class="post-summary-wrapper">
					<p class="post-summary" th:text="${#strings.abbreviate(frontPageFacade.postFacade.review, 300)}"></p>
				</div>
				<br/>
			</div>
			<a class="read-more-link" th:href="'/postid/' + ${frontPageFacade.postFacade.id}">Saiba mais...</a>
		</div>
	</div>
	
	<!-- FRONT PAGE POSTS -->
	<div th:fragment="posts" th:each="fpp: ${frontPageFacade.postFacades}" class="w-dyn-item">
		<div class="post-wrapper">
			<div class="post-content">
				<div class="w-row">
					
					<div class="w-col w-col-4 w-col-medium-4">
						<a class="blog-image w-inline-block"
						   th:href="'/postid/' + ${fpp.id}"
						   th:style="'background-image: url('+ ${fpp.coverImage} +');'">
						</a>
					</div>
					
					<div class="w-col w-col-8 w-col-medium-8">
						
						<a class="blog-title-link w-inline-block" th:href="'/postid/' + ${fpp.id}">
							<h2 th:text="${fpp.title}" class="blog-title"></h2>
						</a>
						
						<div class="details-wrapper">
							<div class="post-info"
								 th:with="date=${fpp.createdAt}"
								 th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
							<div class="post-info">|</div>
							<div class="post-info" th:text=" '(' + ${fpp.comments} + ') Comments'"></div>
							<div class="post-info">|</div>
							<a class="post-info when-link" th:each="tag: ${fpp.tags}" 
														   th:href="'/tags/'+${tag.name}"
														   th:text="${tag.name}"></a>
						</div>
						
						<div class="post-summary-wrapper">
							<p class="post-summary" th:text="${#strings.abbreviate(fpp.review, 130)}"></p>
							<a class="read-more-link" th:href="'/postid/' + ${fpp.id}">Saiba mais...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ALL POSTS -->
	<div th:fragment="allposts" th:each="post: ${allposts}" class="w-dyn-item">
		<div class="post-wrapper">
			<div class="post-content">
				<div class="w-row">
					
					<div class="w-col w-col-4 w-col-medium-4">
						<a class="blog-image w-inline-block"
							th:href="'/postid/' + ${post.id}"
							th:style="'background-image: url('+ ${post.coverImage} +');'">
						</a>
					</div>
					
					<div class="w-col w-col-8 w-col-medium-8">
						
						<a class="blog-title-link w-inline-block" th:href="'/postid/' + ${post.id}">
							<h2 th:text="${post.title}" class="blog-title"></h2>
						</a>
						
						<div class="details-wrapper">
							<div class="post-info"
									th:with="date=${post.createdAt}"
									th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
							<div class="post-info">|</div>
							<div class="post-info" th:text=" '(' + ${post.comments} + ') Comments'"></div>
							<div class="post-info">|</div>
							<a class="post-info when-link" th:each="tag: ${post.tags}" 
														   th:href="'/tags/'+${tag.name}"
														   th:text="${tag.name}"></a>
						</div>
						
						<div class="post-summary-wrapper">
							<p class="post-summary" th:text="${#strings.abbreviate(fpp.review, 130)}"></p>
							<a class="read-more-link" th:href="'/postid/' + ${post.id}">Saiba mais...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ARCHIVES -->
	<div th:fragment="archives-posts" th:each="post: ${posts}" class="w-dyn-item">
		<div class="post-wrapper">
			<div class="post-content">
				<div class="w-row">
					
					<div class="w-col w-col-4 w-col-medium-4">
						<a class="blog-image w-inline-block"
							th:href="'/postid/' + ${post.id}"
							th:style="'background-image: url('+ ${post.coverImage} +');'">
						</a>
					</div>
					
					<div class="w-col w-col-8 w-col-medium-8">
						
						<a class="blog-title-link w-inline-block" th:href="'/postid/' + ${post.id}">
							<h2 th:text="${post.title}" class="blog-title"></h2>
						</a>
						
						<div class="details-wrapper">
							<div class="post-info"
									th:with="date=${post.createdAt}"
									th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
							<div class="post-info">|</div>
							<div class="post-info" th:text=" '(' + ${post.comments} + ') Comments'"></div>
							<div class="post-info">|</div>
							<a class="post-info when-link" th:each="tag: ${post.tags}" 
															th:href="'/tags/'+${tag.name}"
															th:text="${tag.name}"></a>
						</div>
						
						<div class="post-summary-wrapper">
							<p class="post-summary" th:text="${#strings.abbreviate(post.review, 130)}"></p>
							<p><a class="read-more-link" th:href="'/postid/' + ${post.id}">Saiba mais...</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			$(document).ready(function() {
				console.log('entrou no archives-posts');
			});
		</script>

	</div>

	<!-- SHOW BY TAG -->
	<div th:fragment="showbytag" th:each="post: ${posts}" class="w-dyn-item">
		<div class="post-wrapper">
			<div class="post-content">
				<div class="w-row">
					
					<div class="w-col w-col-4 w-col-medium-4">
						<a class="blog-image w-inline-block"
							th:href="'/postid/' + ${post.id}"
							th:style="'background-image: url(../'+ ${post.coverImage} +');'">
						</a>
					</div>
					
					<div class="w-col w-col-8 w-col-medium-8">
						
						<a class="blog-title-link w-inline-block" th:href="'/postid/' + ${post.id}">
							<h2 th:text="${post.title}" class="blog-title"></h2>
						</a>
						
						<div class="details-wrapper">
							<div class="post-info"
									th:with="date=${post.createdAt}"
									th:text="${#dates.day(date) + ' ' + #dates.monthName(date) + ' ' + #dates.year(date)}"></div>
							<div class="post-info">|</div>
							<div class="post-info" th:text=" '(' + ${post.comments} + ') Comments'"></div>
							<div class="post-info">|</div>
							<a class="post-info when-link" th:each="tag: ${post.tags}" 
														   th:href="'/tags/'+${tag.name}"
														   th:text="${tag.name}"></a>

						</div>
						
						<div class="post-summary-wrapper">
							<p class="post-summary" th:text="${#strings.abbreviate(fpp.review, 130)}"></p>
							<a class="read-more-link" th:href="'/postid/' + ${post.id}">Saiba mais...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SHOW TAGS -->
	<div th:fragment="gs" class="post-wrapper">
		<div class="post-content">
			<div class="body-copy w-richtext">
				<label for="tagName">Nome da Tag</label>
				<input class="text-field w-input" data-name="TagName" id="tagName" maxlength="256" name="tagName" placeholder="Nome da Tag" type="text">
				<input class="button w-button" data-wait="Por favor aguarde" type="submit" value="Criar" id="btnSave" name="btnSave">
			</div>
			<p>
				<div>
					<ul id="ulTags" class="striped-list">
						<li th:each="tag: ${tags}"
							th:id="'li' + ${tag.id}">
							<span class="span-display-id" th:text="'id: ' + ${tag.id}"></span>
							<img th:id="'image' + ${tag.id}" th:src="@{../images/delete-icon.png}" width="16" onclick="deleteTag(this);">&nbsp;&nbsp;
							<span th:text="${tag.name}"></span>
						</li>
					</ul>
				</div>
			</p>
			<input class="button w-button" data-wait="Por favor aguarde" type="button" value="Retornar" id="btnReturn" name="btnReturn">
		</div>

		<script th:inline="javascript">
			// this assumes we're using JQuery, right?
			$(document).ready(function() {
				
				$("#btnSave").click(function() {
					var tagName = $("#tagName").val();
					console.log("tagname: " + tagName);

					var tag = {
						name : tagName
					}

					console.log("tag: " + JSON.stringify(tag));

					$.ajax({
						type: "POST",
						url: "/tags/save",
						data: JSON.stringify(tag),
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						success: function(data) {
							console.log("insert another: " + data);
							$('ul#ulTags').append(	'<li id="li'+ data.id +'">' + 
                          								'<span class="span-display-id">id: '+ data.id +'</span>' +
                          								'<img id="image' + data.id + '" src="../images/delete-icon.png" width="16" onclick="deleteTag(this);">&nbsp;&nbsp;' +
                          								'<span>'+ data.name +'</span>' +
                      								'</li>');
						},
                    	error : function(jqXHR, textStatus, errorThrown) {
                     		console.log("jqXHR: " + jqXHR.status);
                     		console.log("textStatus: " + textStatus);
                     		console.log("errorThrown: " + errorThrown);
                    	}
					});
				});

				$("#btnReturn").click(function() {
					window.location.href = "/admin";
				});

			});

			function deleteTag(data) {
				var id = data.id.replace(/\D/g,'');
				var urldelete = '/tags/delete?id=' + id;
				var removeli = "#li" + id;

				$.ajax({
					data: data,
					type: "GET",
					url: urldelete,
					cache: false,
					contentType: false,
					processData: false,
					success: function() {
						console.log("deu certo");
						$(removeli).remove();
					},
                    error : function(jqXHR, textStatus, errorThrown) {
                     	console.log("jqXHR: " + jqXHR.status);
                     	console.log("textStatus: " + textStatus);
                     	console.log("errorThrown: " + errorThrown);
                    }
				});

			}

		</script>

	</div>
		
</body>
</html>