<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	  <div th:fragment="content-sidebar" class="white-wrapper">

		<img class="circle-profile" sizes="(max-width: 767px) 100vw,
										   (max-width: 991px) 97.296875px, 126px"
									th:src="@{images/profile.png}"
									th:srcset="@{images/profile500x500.png 500w, images/profile700x700.png 700w}">

		<p class="site-description">Olá! Me chamo Danilo e este blog fala de tecnologia e programação.</p>
		<div class="grey-rule-sidebar"></div>
		<h2 class="small-heading">Posts em alta:</h2>
		<div class="feature-posts-list w-dyn-list">
			<div th:each="post: ${mostvisited}" class="w-dyn-items">
				<div class="w-dyn-item">
					<a class="small-post-link" th:href="'/postid/' + ${post.id}" th:text="${post.title}"></a>
				</div>
			</div>
		</div>
		<div class="grey-rule-sidebar"></div>
		<div class="social-link-group">
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{images/pinned-octocat.svg}" width="25">
			</a>
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{images/icon-twitter.svg}" width="25">
			</a>
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{images/icon-gitlab.svg}" width="25">
			</a>
		</div>
		<p class="based-on">
			Baseado no&nbsp;<a class="webflow-link" target="_blank" href-disabled="https://webflow.com" href="https://webflow.com/">Webflow</a>
		</p>
	</div>

	<div th:fragment="admin-sidebar" class="white-wrapper">

	  <img class="circle-profile" sizes="(max-width: 767px) 100vw,
									   (max-width: 991px) 97.296875px, 126px"
		   th:src="@{images/profile.png}"
		   th:srcset="@{images/profile500x500.png 500w, images/profile700x700.png 700w}">

	  <p class="site-description">Olá! Me chamo Danilo e este blog fala de tecnologia e programação.</p>
	  <div class="grey-rule-sidebar"></div>
	  <h2 class="small-heading">Posts em alta:</h2>
	  <div class="feature-posts-list w-dyn-list">
		  <div th:each="post: ${mostvisited}" class="w-dyn-items">
			  <div class="w-dyn-item">
				  <a class="small-post-link" th:href="'/postid/' + ${post.id}" th:text="${post.title}"></a>
			  </div>
		  </div>
	  </div>
	  <div class="grey-rule-sidebar"></div>
	  <div class="social-link-group">
		  <a class="social-icon-link w-inline-block" th:href="@{/about}">
			  <img th:src="@{images/pinned-octocat.svg}" width="25">
		  </a>
		  <a class="social-icon-link w-inline-block" th:href="@{/about}">
			  <img th:src="@{images/icon-instagram.svg}" width="25">
		  </a>
		  <a class="social-icon-link w-inline-block" th:href="@{/about}">
			  <img th:src="@{images/icon-twitter.svg}" width="25">
		  </a>
		  <a class="social-icon-link w-inline-block" th:href="@{/about}">
			  <img th:src="@{images/icon-gitlab.svg}" width="25">
		  </a>
	  </div>
	</div>

	<div th:fragment="content-sidebar_level_1" class="white-wrapper">
		
		<img class="circle-profile" sizes="(max-width: 767px) 100vw, 
										   (max-width: 991px) 97.296875px, 126px" 
									th:src="@{../images/profile.png}"
									th:srcset="@{../images/profile500x500.png 500w, ../images/profile700x700.png 700w}">
		
		<p class="site-description">Olá! Me chamo Danilo e este blog fala de tecnologia e programação.</p>
		<div class="grey-rule-sidebar"></div>
		<h2 class="small-heading">Posts em alta:</h2>
		<div class="feature-posts-list w-dyn-list">
			<div th:each="post: ${mostvisited}" class="w-dyn-items">
				<div class="w-dyn-item">
					<a class="small-post-link" th:href="'/postid/' + ${post.id}" th:text="${post.title}"></a>
				</div>
			</div>
		</div>
		<div class="grey-rule-sidebar"></div>
		<div class="social-link-group">
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{../images/pinned-octocat.svg}" width="25">
			</a>
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{../images/icon-instagram.svg}" width="25">
			</a>
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{../images/icon-twitter.svg}" width="25">
			</a>
			<a class="social-icon-link w-inline-block" th:href="@{/about}">
				<img th:src="@{../images/icon-gitlab.svg}" width="25">
			</a>
		</div>
		<p class="based-on">
			Baseado no&nbsp;<a class="webflow-link" target="_blank" href-disabled="https://webflow.com" href="https://webflow.com/">Webflow</a>
		</p>
	</div>

	<div th:fragment="content-sidebar-admin" class="white-wrapper">
		<p class="site-description">Olá! Me chamo Danilo e este blog fala de tecnologia e programação.</p>
		<div class="grey-rule-sidebar"></div>
		<p class="site-description">
			<a th:href="@{/admin/reports}">Reports</a><br/>
			<a th:href="@{/admin/compose}">Compose</a>
		</p>
		<div class="grey-rule-sidebar"></div>
	</div>

	<div th:fragment="sidebar-admin" class="sidebar-column">
		<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation-bar w-nav">
		   <div class="w-container">
			  <a href="#" class="logo-link w-nav-brand">
				 <h1 class="logo-text">Moon</h1>
			  </a>
			  <nav role="navigation" class="navigation-menu w-nav-menu">
				 <p class="main-subheading w-hidden-medium w-hidden-small w-hidden-tiny">Admin access</p>
				 <div class="divider w-hidden-medium w-hidden-small w-hidden-tiny"></div>
					<a href="#" class="nav-link w-nav-link" style="max-width: 940px;"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a>
					<a href="#" class="nav-link w-nav-link" style="max-width: 940px;">All Posts</a>
					<a href="#" class="nav-link w-nav-link" style="max-width: 940px;">About</a>
					<a href="#" class="nav-link w-nav-link" style="max-width: 940px;">Contact</a>
				 <div class="divider"></div>
			  </nav>
			  <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
				 <div class="w-icon-nav-menu"></div>
			  </div>
		   </div>
		   <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
		</div>
	</div>
	  
</html>