<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="about" class="post-wrapper">
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>About me</h1>
				<p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
				<h2>Something else here</h2>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.</p>
				<p>Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
			<a class="button w-button" href="http://denali-template.webflow.io/contact">Get in touch</a>
		</div>
	</div>

	<div th:fragment="contact" class="post-wrapper">
		<script th:src="|https://www.google.com/recaptcha/api.js?render=${keysite}"></script>
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Entre em contato</h1>
			</div>
			
			<!-- div class="form-wrapper w-form" not managed anymore -->
			<div class="form-wrapper">
				
				<form id="email-form" data-name="Email Form" name="email-form">
					<label for="Name">Name</label>
					<input class="text-field w-input" data-name="Name" id="txtName" maxlength="256" name="txtName" placeholder="Enter your name" type="text">
					<label for="Email">Email Address</label>
					<input class="text-field w-input" data-name="Email" id="txtEmail" maxlength="256" name="txtEmail" placeholder="Enter your email address" required="required" type="email">
					<label for="Message">Message</label>
					<textarea class="text-area text-field w-input" data-name="Message" id="txtMessage" maxlength="5000" name="txtMessage" placeholder="Enter your message" required="required"></textarea>
					<input id="btnSubmit" class="button w-button" data-wait="Please wait..." type="button" value="Submit">
				<div class="success-message w-form-done">
					<p class="success-text">Thank you! Your submission has been received!</p>
				</div>
								
				<div class="w-form-fail">
					<p>Oops! Something went wrong while submitting the form</p>
				</div>

				<script th:inline="javascript">

					$(document).ready(function() {
						
						var keysite = [[${keysite}]];
						var register_action = [[${registerAction}]];

						$('#btnSubmit').click(function() {
							console.log('keysite: ' + keysite);
							console.log('typeof grecaptcha: ' + typeof grecaptcha !== 'undefined');
							
							grecaptcha.execute(keysite, {action : register_action}).then(function(response) { 
								//$('#response').val(response);
								
								var facade = {
									name:$('#txtName').val(),
									email:$('#txtEmail').val(),
									message:$('#txtMessage').val(),
									response:response
								}
						
								console.log('form data: ' + JSON.stringify(facade));
								//console.log('response: ' + response);

								$.ajax({
									url: "/getContact",
									type: "POST",
									data: JSON.stringify(facade),
									contentType: "application/json; charset=utf-8",
									dataType: "json",
									cache: false,
									processData: false,
									success: function (data) {
										console.log("resposta: " + data)
										console.log("tudo certo!!!");
									},
									error : function(jqXHR, textStatus, errorThrown) {
										console.log("jqXHR: " + jqXHR.status);
										console.log("textStatus: " + textStatus);
										console.log("errorThrown: " + errorThrown);
									}
								});

							});
						});
					});
				</script>
			</div>
		</div>
	</div>
	
</body>
</html>