<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="about" class="post-wrapper">
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Sobre o autor</h1>
				<p>Meu nome é Danilo, sou formado em Processamento de Dados (chique na época) e já desenvovi sistemas para diversos segmentos, sendo financeiro o mais atuado.</p>
				<p>Gosto muito do modelo open source e da comunidade que suporta tudo isso. Sou fã de Linux também, desde jovem.</p>
				<h2>Mas sobre o que é tudo isso?</h2>
				<p>Espero escrever bastante sobre tecnologia, das coisas que já criei e também coisas novas. Não gostaria de perder esse conhecimento, e por mais backup que seja feito, não conseguimos guardar tudo o que gostaríamos.</p>
			</div>
			<a class="button w-button" th:href="@{/contact}">Entre em contato&nbsp;&nbsp;&boxbox;</a>	
		</div>
	</div>

	<div th:fragment="contact" class="post-wrapper">
		<script th:src="|https://www.google.com/recaptcha/api.js?render=${keysite}"></script>
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Entre em contato</h1>
			</div>
			
			<div class="form-wrapper">
				
				<form id="email-form" data-name="Email Form" name="email-form">
					<label for="Name">Nome</label>
					<input class="text-field w-input" data-name="Name" id="txtName" maxlength="256" name="txtName" placeholder="Digite seu nome" type="text">
					<label for="Email">E-Mail</label>
					<input class="text-field w-input" data-name="Email" id="txtEmail" maxlength="256" name="txtEmail" placeholder="Digite seu endereço de e-mail" required="required" type="email">
					<label for="Message">Mensagem</label>
					<textarea class="text-area text-field w-input" data-name="Message" id="txtMessage" maxlength="5000" name="txtMessage" placeholder="Digite a mensagem" required="required"></textarea>
					<input id="btnSubmit" class="button w-button" data-wait="Please wait..." type="button" value="Submit">
				</form>

				<div id="divSuccess" class="success-message w-form-done">
					<p class="success-text">Muito Obrigado! Sua mensagem foi enviada!</p>
					<span id="spanTimeout"></span>
				</div>
								
				<div id="divFailure" class="w-form-fail">
					<p>Ooopa! Aconteceu algo errado no envio da mensagem.</p>
				</div>

				<script th:inline="javascript">

					$(document).ready(function() {
						
						var keysite = [[${keysite}]];
						var register_action = [[${registerAction}]];

						$('#btnSubmit').click(function() {
							console.log('keysite: ' + keysite);
							console.log('typeof grecaptcha: ' + typeof grecaptcha !== 'undefined');
							
							grecaptcha.execute(keysite, {action : register_action}).then(function(response) { 
								
								var facade = {
									name:$('#txtName').val(),
									email:$('#txtEmail').val(),
									message:$('#txtMessage').val(),
									response:response
								}
						
								console.log('form data: ' + JSON.stringify(facade));

								$.ajax({
									url: "/getContact",
									type: "POST",
									data: JSON.stringify(facade),
									contentType: "application/json; charset=utf-8",
									cache: false,
									processData: false,
									success: function (data) {
										redirect(data);
									},
									error : function(jqXHR, textStatus, errorThrown) {
										console.log("jqXHR: " + jqXHR.status);
										console.log("textStatus: " + textStatus);
										console.log("errorThrown: " + errorThrown);
									}
								});

							});
						});

						function redirect(data) {
							console.log("resposta: " + data)
							console.log("tudo certo!!!");
							$('#divSuccess').show();
							var i=10;
							setInterval(function () {
								$("#spanTimeout").html(i);
								i--;
							}, 3000)
							window.location.href = "/contact";
						}

					});
				</script>
			</div>
		</div>
	</div>

</body>
</html>