<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="about" class="post-wrapper">
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Sobre o autor</h1>
				<p>Meu nome é Danilo, sou formado em Processamento de Dados (chique na época) e já desenvovi sistemas para diversos segmentos, sendo financeiro o mais atuado.</p>
				<p>Gosto muito do modelo open source e da comunidade que suporta tudo isso. Sou fã de Linux também, desde jovem.</p>
				<h2>Mas sobre o que é tudo isso?</h2>
				<p>Espero escrever bastante sobre tecnologia, das coisas que já criei e também coisas novas. Não gostaria de perder esse conhecimento, e por mais backup que seja feito, não conseguimos guardar tudo o que gostaríamos.</p>
			</div>
			<a class="button w-button" th:href="@{/contact}">Entre em contato&nbsp;&nbsp;&boxbox;</a>
		</div>
	</div>

	<div th:fragment="contact" class="post-wrapper">
		<script th:src="|https://www.google.com/recaptcha/api.js?render=${keysite}"></script>
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Entre em contato</h1>
			</div>
			
			<div class="form-wrapper">
				
				<form id="email-form" data-name="Email Form" name="email-form">
					<label for="Name">Nome</label>
					<input class="text-field w-input" data-name="Name" id="txtName" maxlength="256" name="txtName" placeholder="Digite seu nome" type="text">
					<label for="Email">E-Mail</label>
					<input class="text-field w-input" data-name="Email" id="txtEmail" maxlength="256" name="txtEmail" placeholder="Digite seu endereço de e-mail" required="required" type="email">
					<label for="Message">Mensagem</label>
					<textarea class="text-area text-field w-input" data-name="Message" id="txtMessage" maxlength="5000" name="txtMessage" placeholder="Digite a mensagem" required="required"></textarea>
					<input id="btnSubmit" class="button w-button" data-wait="Please wait..." type="button" value="Enviar">
					<div id="successBox"></div>
				</form>

				<div id="divSuccess" class="success-message w-form-done">
					<p class="success-text">Muito Obrigado! Sua mensagem foi enviada!</p>
					<span id="spanTimeout"></span>
				</div>
				
				<div id="divFailure" class="w-form-fail">
					<p>Ooopa! Aconteceu algo errado no envio da mensagem.</p>
				</div>

				<script th:inline="javascript">

					$(document).ready(function() {
						
						var keysite = [[${keysite}]];
						var register_action = [[${registerAction}]];

						$('#btnSubmit').click(function() {
							freezeForm();

							if(validCommentForm()) {
								console.log('keysite: ' + keysite);
								console.log('typeof grecaptcha: ' + typeof grecaptcha !== 'undefined');
								
								grecaptcha.execute(keysite, {action : register_action}).then(function(response) { 
									
									var facade = {
										name:$('#txtName').val(),
										email:$('#txtEmail').val(),
										message:$('#txtMessage').val(),
										response:response
									}
							
									console.log('form data: ' + JSON.stringify(facade));

									$.ajax({
										url: "/getContact",
										type: "POST",
										data: JSON.stringify(facade),
										contentType: "application/json; charset=utf-8",
										cache: false,
										processData: false,
										success: function (data) {
											disableForm();
											showSuccessBox();
										},
										error : function(jqXHR, textStatus, errorThrown) {
											console.log("jqXHR: " + jqXHR.status);
											console.log("textStatus: " + textStatus);
											console.log("errorThrown: " + errorThrown);
										}
									});
								});
							}
						});

						function validCommentForm() {

							$('#txtName').css("background-color","#ffffff");
							$('#txtEmail').css("background-color","#ffffff");
							$('#txtMessage').css("background-color","#ffffff");

							if(!($('#txtName').val())) {
								unfreezeForm();
								$('#txtName').css("background-color","#ffcccc");
								$('#txtName').focus();
								return false;
							}

							if(!($('#txtEmail').val())) {
								unfreezeForm();
								$('#txtEmail').css("background-color","#ffcccc");
								$('#txtEmail').focus();
								return false;
							}

							if(!($('#txtMessage').val())) {
								unfreezeForm();
								$('#txtMessage').css("background-color","#ffcccc");
								$('#txtMessage').focus();
								return false;
							}
							return true;
						}

						function freezeForm() { 
							$('#txtName').attr('readonly', true);
							$('#txtEmail').attr('readonly', true);
							$('#txtMessage').attr('readonly', true);
						}

						function unfreezeForm() { 
							$('#txtName').attr('readonly', false);
							$('#txtEmail').attr('readonly', false);
							$('#txtMessage').attr('readonly', false);
						}

						function disableForm() {
							$('#txtName').attr('disabled', true);
							$('#txtEmail').attr('disabled', true);
							$('#txtMessage').attr('disabled', true);
							$('#btnSubmit').remove();
						}

						function showSuccessBox() { 
							$('#successBox').append('<p class="success-text">Muito Obrigado! Seu comentário foi enviado!</p>');
							$('#successBox').css('visibility', 'visible');
						}

					});
				</script>
			</div>
		</div>
	</div>

	<!-- ALL POSTS PAGINATION BOX -->
	<div th:fragment="all-posts-box" class="post-wrapper">
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Todos os posts</h1>
			</div>
			
			<div class="form-wrapper">
				
				<form th:action="@{/all-posts}" th:object="${postSearchFacade}" id="pagination-box" data-name="Todos posts" name="pagination-box" method="POST">
					<input th:field="*{pagenumber}" type="hidden" id="hidPagenumber" name="hidPagenumber">
					<input th:field="*{first}" type="hidden" id="hidFirst" name="hidFirst">
					<input th:field="*{last}" type="hidden" id="hidLast" name="hidLast">
					<input th:field="*{totalPages}" type="hidden" id="hidTotalPages" name="hidTotalPages">
				</form>
				
				<p>
					<div>
						<input id="btnFirst"   value="&lt;&lt;" class="button w-button" type="button">
						<input id="btnBack"    value="&lt;"     class="button w-button" type="button">
						<input id="btnForward" value="&gt;"     class="button w-button" type="button">
						<input id="btnLast"    value="&gt;&gt;" class="button w-button" type="button">
					</div>
				</p>

			</div>
		</div>

		<script th:inline="javascript">

			$(document).ready(function() {
				
				paginationbar();

				$('#btnFirst').click(function() {
					$('#hidPagenumber').val(0);
					submitForm();
				});

				$('#btnBack').click(function() {
					var pagenumber = Number($('#hidPagenumber').val());
					$('#hidPagenumber').val(pagenumber - 1);
					submitForm();
				});

				$('#btnForward').click(function() {
					var pagenumber = Number($('#hidPagenumber').val());
					$('#hidPagenumber').val(pagenumber + 1);
					submitForm();
				});

				$('#btnLast').click(function() {
					var total = $('#hidTotalPages').val();
					$('#hidPagenumber').val(total);
					submitForm();
				});

				function submitForm() {
					$('#pagination-box').submit();
				}

				function paginationbar() {
					var pagenumber = $('#hidPagenumber').val();
					var first = $('#hidFirst').val();
					var last = $('#hidLast').val();

					if(pagenumber == 0 && first == 'false' && last == 'false') {
						disableFirst();
						disableBack();
						disableForward();
						disableLast();
					} else {
						if(first == 'true') {
							disableFirst();
							disableBack();
						}

						if(last == 'true') {
							disableForward();
							disableLast();
						}
					}	
				}

				function disableFirst() {
					$('#btnFirst').prop("disabled",true);
					$('#btnFirst').css("background-color","#F0F0F0");
				}

				function disableBack() {
					$('#btnBack').prop("disabled",true);
					$('#btnBack').css("background-color","#F0F0F0");
				}

				function disableForward() {
					$('#btnForward').prop("disabled",true);
					$('#btnForward').css("background-color","#F0F0F0");
				}

				function disableLast() {
					$('#btnLast').prop("disabled",true);
					$('#btnLast').css("background-color","#F0F0F0");
				}
			});
		</script>

	</div>
	
	<!-- ARCHIVES SEARCH BOX -->
	<div th:fragment="archives-searchbox" class="post-wrapper">
		<script th:src="|https://www.google.com/recaptcha/api.js?render=${keysite}"></script>
		<div class="post-content">
			<div class="body-copy w-richtext">
				<h1>Faça a pesquisa</h1>
			</div>
			
			<div class="form-wrapper">
				
				<form th:action="@{/searcharchives}" th:object="${postSearchFacade}" id="search-box" data-name="Search Form" name="search-box" method="POST">
					<input th:field="*{pagenumber}" type="hidden" id="hidPagenumber" name="hidPagenumber">
					<input th:field="*{first}" type="hidden" id="hidFirst" name="hidFirst">
					<input th:field="*{last}" type="hidden" id="hidLast" name="hidLast">
					<input th:field="*{totalPages}" type="hidden" id="hidTotalPages" name="hidTotalPages">

					<input th:field="*{response}" type="hidden" id="hidResponse" name="hidResponse" />
					<label for="Title">Texto no título</label>
					<input th:field="*{title}" class="text-field w-input" data-name="Title" id="txtTitle" maxlength="256" name="txtTitle" placeholder="Texto no título" type="text">
					<label for="Review">Texto dentro do post</label>
					<input th:field="*{review}" class="text-field w-input" data-name="Review" id="txtReview" maxlength="256" name="txtReview" placeholder="Texto dentro do post">
					<input id="btnSearch" class="button w-button" data-wait="Por favor aguarde..." type="button" value="Procurar">
				</form>
				
				<p>
					<div>
						<input id="btnFirst"   value="&lt;&lt;" class="button w-button" type="button">
						<input id="btnBack"    value="&lt;"     class="button w-button" type="button">
						<input id="btnForward" value="&gt;"     class="button w-button" type="button">
						<input id="btnLast"    value="&gt;&gt;" class="button w-button" type="button">
					</div>
				</p>

			</div>
		</div>

		<script th:inline="javascript">

			$(document).ready(function() {
				
				var keysite = [[${keysite}]];
				var register_action = [[${registerAction}]];

				searchbar();

				$('#btnSearch').click(function() {
					$('#hidPagenumber').val(0);
					submitForm();
				});

				$('#btnFirst').click(function() {
					$('#hidPagenumber').val(0);
					submitForm();
				});

				$('#btnBack').click(function() {
					var pagenumber = Number($('#hidPagenumber').val());
					$('#hidPagenumber').val(pagenumber - 1);
					submitForm();
				});

				$('#btnForward').click(function() {
					var pagenumber = Number($('#hidPagenumber').val());
					$('#hidPagenumber').val(pagenumber + 1);
					submitForm();
				});

				$('#btnLast').click(function() {
					var total = $('#hidTotalPages').val();
					$('#hidPagenumber').val(total);
					submitForm();
				});

				function submitForm() {
					grecaptcha.execute(keysite, {action : register_action}).then(function(response) {
						$('#hidResponse').val(response);
						$('#search-box').submit();
					});
				}

				function searchbar() {
					var pagenumber = $('#hidPagenumber').val();
					var first = $('#hidFirst').val();
					var last = $('#hidLast').val();

					if(pagenumber == 0 && first == 'false' && last == 'false') {
						disableFirst();
						disableBack();
						disableForward();
						disableLast();
					} else {
						if(first == 'true') {
							disableFirst();
							disableBack();
						}

						if(last == 'true') {
							disableForward();
							disableLast();
						}
					}	
				}

				function disableFirst() {
					$('#btnFirst').prop("disabled",true);
					$('#btnFirst').css("background-color","#F0F0F0");
				}

				function disableBack() {
					$('#btnBack').prop("disabled",true);
					$('#btnBack').css("background-color","#F0F0F0");
				}

				function disableForward() {
					$('#btnForward').prop("disabled",true);
					$('#btnForward').css("background-color","#F0F0F0");
				}

				function disableLast() {
					$('#btnLast').prop("disabled",true);
					$('#btnLast').css("background-color","#F0F0F0");
				}
			});
		</script>

	</div>

</body>
</html>