<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<title>Admin</title>
		<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_admin_compose"> </th:block> /*/-->
	</head>
	<body>
		<div class="wrapper">
			<div th:replace="fragments/admin.html :: navigation-bar"></div>
			<div th:replace="fragments/admin.html :: main-sidebar"></div>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div th:replace="fragments/admin.html :: content-header(title='Dashboard v3', bread_item='Home', bread_item_active='Dashboard v3')"></div>
					
					<!-- Main content -->
					<section class="content">
						<div class="container-fluid">

							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Imagem de capa</h3>
								</div>

								<div id="preview-cover-image">
									<img id="imgcover" th:src="${post.coverImage}" style="max-height:100%; max-width:100%;" alt="imagem de capa atual">
								</div>
								
								<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
									<input type="hidden" id="hidCountdown" value="16">
									<input type="hidden" id="id" name="id" th:value="${post.id}">
									<div class="card-body">
										<div class="form-group"> 
											<label for="exampleInputFile">Imagem de capa</label>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input" name="coverImage" id="coverImage">
													<label class="custom-file-label" for="coverImage">Escolha uma imagem</label>
												</div>
											</div>
										</div>
									</div>
									<!-- /.card-body -->
									<div class="card-footer">
										<button type="button" id="btnCoverImage" name="btnCoverImage" class="btn btn-primary">Upload</button>
									</div>
								</form>
							</div>

							<div class="card card-default">
								<div class="card-header">
									<h3 class="card-title">Tags do post</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
										<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
									</div>
								</div> <!-- /.card-header -->
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Tags disponíveis</label>
												<select id="combotags" class="select2bs4 select2-hidden-accessible" multiple="multiple" data-placeholder="Selecione as tags" style="width: 100%;" tabindex="-1">
													<option th:each="tag: ${postTags}"
															th:value="${tag.id}"
															th:text="${tag.name}"
															th:selected="${tag.selected}"></option>
												</select>
											</div> <!-- /.form-group -->
										</div> <!-- /.col -->
									</div> <!-- /.card-body -->
								</div>
							</div>

							<div class="card card-primary card-outline">
								<div class="card-header">
								<h3 class="card-title"><input type="text" id="posttitle" name="txtTitle" th:field="${post.title}" size="60"></h3>
								<span class="card-title" style="float: right;">Falando então desta quarta feira</span>
								<div class="progress progress-sm active" style="width: 5%;float: right;">
									<div id="update-progress-bar" class="progress-bar bg-primary progress-bar-striped"></div>
								</div>
								<div id="autosave" class="custom-control custom-switch custom-switch-on-success custom-switch-off-danger" style="float: right;">
									<input type="checkbox" class="custom-control-input" id="btnAutosave">
									<label class="custom-control-label" for="btnAutosave">Autosave?</label>
								</div>
							</div> <!-- /.card-header -->

							<input type="hidden" id="postid" name="hidpost" th:field="${post.id}">

							<div id="summernote" name="article"></div>
								<p>É rascunho?&nbsp;&nbsp;<input type="checkbox" id="postdraft" name="postdraft" th:field="${post.draft}"></p>
								<span id="spanPost" th:utext="${post.review}"></span>
							</div> <!-- /.card -->
						</div><!-- /.container-fluid -->
					</section>
					<!-- /.content -->
			  </div>
			<!-- /.content-wrapper -->

			<div th:replace="fragments/admin.html :: main-footer"></div>
		</div>

		<script th:inline="javascript">

			$('.select2').select2();
			
			$('.select2bs4').select2({
				theme: 'bootstrap4'
			});
			
			$('#combotags').on('select2:select', function (e) {
				var data = e.params.data;
				console.log(data);

				console.log("### inserir ###");
				console.log("post: " + $('#id').val());
				var urlInsertTag = "/post/insertTag/" + $('#id').val() + "/" + data.id;
				console.log("urlInsertTag: " + urlInsertTag);

				$.ajax({
					type: "GET",
					url: urlInsertTag,
					cache: false,
					contentType: false,
					processData: false,
					success: function(tag) {
						console.log(tag + " inserido com sucesso!");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						alert('não deu certo!');
						console.log("jqXHR: " + jqXHR.status);
						console.log("textStatus: " + textStatus);
						console.log("errorThrown: " + errorThrown);
					}
				});
			});

			$('#combotags').on('select2:unselect', function (e) {
				var data = e.params.data;
				console.log(data);

				console.log("### inserir ###");
				console.log("post: " + $('#id').val());
				var urlRemoveTag = "/post/removeTag/" + $('#id').val() + "/" + data.id;
				console.log("urlRemoveTag: " + urlRemoveTag);

				$.ajax({
					type: "GET",
					url: urlRemoveTag,
					cache: false,
					contentType: false,
					processData: false,
					success: function(tag) {
						console.log(tag + " removido com sucesso!");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						alert('não deu certo!');
						console.log("jqXHR: " + jqXHR.status);
						console.log("textStatus: " + textStatus);
						console.log("errorThrown: " + errorThrown);
					}
				});
			});

			var countdown = 15;

			$('#summernote').summernote({
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Lato', 'Helvetica', 'Impact', 'Roboto', 'Tahoma', 'Times New Roman', 'Verdana'],
				fontNamesIgnoreCheck: ['Lato', 'Roboto'],
				prettifyHtml: false,
				toolbar:[
					['style', ['style']],
					['font', ['bold', 'underline', 'clear']],
					['fontname', ['fontname']],
					['color', ['color']],
					['para', ['ul', 'ol', 'paragraph']],
					// ['table', ['table']],
					['insert', ['link', 'picture', 'video']],
					// Add highlight plugin
					['highlight', ['highlight']],
					['view', ['fullscreen', 'codeview', 'help']],
				],
				lang:'pt-BR',
				callbacks: {
					onInit: function() {
						var ptext = $('#spanPost').html();
						$('#summernote').summernote('code', ptext);
						$('#spanPost').remove();
					},
					onChange: function(e) {
						clearInterval(countdown);
						var seconds = $('#hidCountdown').val();
						countdown = setInterval(function() {
							seconds--;
							$('#countdown').text(seconds);
							updateProgressBar(seconds);

							if (seconds == 0) {
								clearInterval(countdown);
								console.log("executa o updater");
								updater();
							}
						}, 1000);
					},
					onImageUpload: function(files) {
						console.log("nº arquivos: " + files.length);
						var file = files[0];
						console.log("filename: " + file.name);
						sendFile(files[0]);
					},
					onMediaDelete : function(target) {
						console.log(target[0].src);
					}
				}
			});

			$("#btnCoverImage").click(function() {
				var form = $('#fileUploadForm')[0];
				var formData = new FormData(form);

				$.ajax({
					url: "/postImage/updateCoverImage",
					type: "POST",
					enctype: 'multipart/form-data',
					data: formData,
					contentType: false,
					processData: false,
					cache: false,
					success: function (data) {
						$("#imgcover").attr('src', data);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("erro na atualização da imagem de capa");
						console.log("jqXHR: " + jqXHR.status);
						console.log("textStatus: " + textStatus);
						console.log("errorThrown: " + errorThrown);
					}
				});
			});

			$('#autosave').change(function() {
				console.log('this:' + this);
			});

			function updateProgressBar(seconds) {
				var divisor = (parseInt($('#hidCountdown').val()) - 1);
				$('#update-progress-bar').css('width', (seconds/divisor * 100) + '%');
			}

			function sendFile(file) {
				console.log("started send file...");
				data = new FormData();
				data.append('id', $('#postid').val());
				data.append("image", file);

				$.ajax({
					data: data,
					type: "POST",
					url: "/postImage/save",
					cache: false,
					contentType: false,
					processData: false,
					success: function(url) {
						console.log("URL: " + url)
						$('#summernote').summernote("insertImage", url);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("jqXHR: " + jqXHR.status);
						console.log("textStatus: " + textStatus);
						console.log("errorThrown: " + errorThrown);
					}
				});
			}
			
			function updater() {

				var postid = $('#postid').val();
				var posttitle = $('#posttitle').val();
				var posttext = $('#summernote').summernote('code');
				var postdraft = $('#postdraft').is(':checked');

				var post = {
					id : postid,
					title : posttitle,
					review : posttext, 
					isDraft : postdraft
				};

				$.ajax({
					type: "POST",
					url: "/post/update",
					data: JSON.stringify(post),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
							console.log("post atualizado com sucesso!!!");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("erro na atualização do composer");
						console.log("jqXHR: " + jqXHR.status);
						console.log("textStatus: " + textStatus);
						console.log("errorThrown: " + errorThrown);
					}
				});
			}

		</script>

	</body>
</html>