<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Admin</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_admin_level_1"> </th:block> /*/-->
</head>

<body>

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">
							
				<!-- div th:replace="fragments/general.html :: sidebar"></div -->

				<div class="content-column w-col w-col-12">

					<div th:replace="fragments/admin.html :: index"></div>

					<!-- div th:replace="fragments/general.html :: mobile-sidebar"></div -->

				</div>
			</div>
		</div>
	</div>

	<!-- div th:replace="fragments/general.html :: footerfiles"></div -->

</body>

</html>