<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Article</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_level_1"> </th:block> /*/-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
	<!-- and it's easy to individually load additional languages -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/go.min.js"></script>

</head>

<body>

	<div th:replace="fragments/general.html :: header"></div>

	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">

				<div th:replace="fragments/general.html :: sidebar_level_1"></div>
				
					<div class="content-column w-col w-col-9">

						<div th:replace="fragments/articlebody.html :: post"></div>

						<div th:replace="fragments/articlebody.html :: addCommentBox"></div>

						<div th:replace="fragments/articlebody.html :: comments"></div>

						<div th:replace="fragments/general.html :: mobile-sidebar_level_1"></div>

				</div>
			</div>
		</div>
	</div>

	<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
</html>