<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Article</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_level_1"> </th:block> /*/-->
</head>

<body>

	<div th:replace="fragments/general.html :: header"></div>

	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">

				<div th:replace="fragments/general.html :: sidebar_level_1"></div>
				
					<div class="content-column w-col w-col-9">

						<div th:replace="fragments/articlebody.html :: post"></div>

						<div class="button-wrapper">
							<a class="button w-button" th:href="@{/home}">←&nbsp;All posts</a>
						</div>

						<br />

						<div th:replace="fragments/articlebody.html :: comments"></div>

						<div th:replace="fragments/general.html :: mobile-sidebar_level_1"></div>

				</div>
			</div>
		</div>
	</div>

	<script src="./article_files/jquery.min.js.download" type="text/javascript"></script>
	<script src="./article_files/webflow.5b0765584.js.download" type="text/javascript"></script>
	<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
</html>