<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:spring="http://www.springframework.org/tags" 
	  xmlns:form="http://www.springframework.org/tags/form">

<head>
	<title>Admin</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_level_1"> </th:block> /*/-->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
	<script src="http://your domain/summernote-ext-highlight.js"></script>
</head>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">
				
				<!-- div th:replace="fragments/general.html :: sidebar_level_1"></div -->

				<div class="post-wrapper">
					<div class="post-content">
						<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
							<input type="hidden" id="id" name="id" th:value="${post.id}">
							<input type="file" name="coverImage" id="coverImage" />
							<a class="button w-button" id="btnCoverImage">Upload Cover Image</a>
						</form>
					</div>
				</div>

				<div class="content-column w-col w-col-12">
					<input type="hidden" id="postid" name="hidpost" th:value="${post.id}">
					<input type="text" id="posttitle" name="txtTitle" th:value="${post.title}">

					<div id="summernote" name="article"></div>
					<p>
						<input type="button" value="Save" id="executeForm" name="btnAction" onclick="updater();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="button" value="Return" id="btnReturn" name="btnReturn" onclick="goback();">
					</p>

					<!-- div th:replace="fragments/general.html :: mobile-sidebar_level_1"></div -->

					<span id="spanPost" th:utext="${post.text}"></span>

				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/general.html :: footerfiles"></div>

	<script>

		$(document).ready(function() {

			var autosave_timer = null

			$('#summernote').summernote({
				callbacks: {
					onInit: function() {
						console.log("iniciou o summernote");
						var ptext = $('#spanPost').html();
						$('#summernote').summernote('code', ptext);
						$('#spanPost').remove();
					},
					onChange: function(e) {
						clearTimeout(autosave_timer);
						autosave_timer = setTimeout(function() {
							console.log("saving information");
							updater();
						}, 7000);
					}
				}
			});

			$("#btnCoverImage").click(function() {
				var form = $('#fileUploadForm')[0];
				var formData = new FormData(form);

				$.ajax({
					url: "/post/updateCoverImage",
					type: "POST",
					enctype: 'multipart/form-data',
					data: formData,
					contentType: false,
					processData: false,
					cache: false,
					success: function () {
						console.log("deu certo :-D");
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                     	console.log("jqXHR: " + jqXHR.status);
                     	console.log("textStatus: " + textStatus);
                     	console.log("errorThrown: " + errorThrown);
                    }
				});
			});

		});
		
		function updater() {

			var postid = $('#postid').val();
			var posttitle = $('#posttitle').val();
			var posttext = $('#summernote').summernote('code');

			var post = {
				id : postid,
				title : posttitle,
				text : posttext 
			};

			$.ajax({
				type: "POST",
				url: "/post/update",
				data: JSON.stringify(post),
				contentType: "application/json; charset=utf-8",
				dataType: "json"
			});
		}

		function goback() {
			window.location.href = "/admin";
		}

	</script>

</body>

</html>