<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:spring="http://www.springframework.org/tags" 
	  xmlns:form="http://www.springframework.org/tags/form">

<spring:htmlEscape defaultHtmlEscape="false" />

<head>
	<title>Admin</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_level_1"> </th:block> /*/-->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</head>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">
				
				<!-- div th:replace="fragments/general.html :: sidebar_level_1"></div -->
				
				<div class="content-column w-col w-col-12">

					<input type="text" id="title" name="txtTitle">

					<div id="summernote" name="article"></div>
					<p>
						<input type="button" value="Save" id="executeForm" name="btnAction" onclick="postr();">
					</p>

					<div th:replace="fragments/editor.html :: post"></div>

					<!-- h1 th:text="'Hello ' + ${#authentication.name}"></h1 -->
					<!-- div th:replace="fragments/general.html :: mobile-sidebar_level_1"></div -->

					<input type="hidden" id="txtPost" th:utext="${postHTML}">

				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/general.html :: footerfiles"></div>

	<script>

		$(document).ready(function() {
			$('#summernote').summernote();
			var HTMLstring = '[[${postHTML}]]';
			console.log('HTMLstring: ' + HTMLstring);

			//var HTMLstring = '<div><p>Hello, world</p><p>Summernote can insert HTML string</p></div>';
			$('#summernote').summernote('code', HTMLstring);
		});

		function postr() {

			$.ajax({
				type: "POST",
				url: "/post/create",
				data: JSON.stringify({
        				title: $("#title").val(),
        				text: $('#summernote').summernote('code')
    			}),
				contentType: "application/json; charset=utf-8",
    			dataType: "json"
			});
		}

	</script>

</body>

</html>