<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:spring="http://www.springframework.org/tags" 
	  xmlns:form="http://www.springframework.org/tags/form">

<head>
	<title>Admin</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_level_1"> </th:block> /*/-->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</head>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">
				
				<!-- div th:replace="fragments/general.html :: sidebar_level_1"></div -->
				
				<div class="content-column w-col w-col-12">

					<input type="hidden" id="id" name="hidpost" th:value="${post.id}">
					<input type="text" id="title" name="txtTitle" th:value="${post.title}">

					<div id="summernote" name="article"></div>
					<p>
						<input type="button" value="Save" id="executeForm" name="btnAction" onclick="updater();">
					</p>

					<div th:replace="fragments/editor.html :: post"></div>

					<!-- div th:replace="fragments/general.html :: mobile-sidebar_level_1"></div -->

					<span id="spanPost" th:utext="${post.text}">

				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/general.html :: footerfiles"></div>

	<script>

		$(document).ready(function() {
			summernote();
		});

		function summernote() {
			var HTMLstring = $('#spanPost').html();
			$('#summernote').summernote('code', HTMLstring);
			$('#spanPost').remove();
		}
		
		function updater(post) {
			console.log("id" + $('#id').val());
			console.log("title" + $('#title').val());
			console.log("code" + $('#summernote').summernote('code'));
			$.ajax({
				type: "POST",
				url: "/post/update",
				data: JSON.stringify({
						id:  	$('#id').val(),
						title: 	$('#title').val(),
						text: 	$('#summernote').summernote('code')
				}),
				contentType: "application/json; charset=utf-8",
				dataType: "json"
			});
			console.log("the post has been updated" + post);
		}

	</script>

</body>

</html>