<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog Home</title>

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/denali-template.webflow.62e4e3112.css}" type="text/css" media="all">
	<link th:href="@{css/css}" type="text/css" media="all">
	
	<!-- JAVASCRIPT -->
	<script type="text/javascript" th:src="@{/webjars/modernizr/2.8.3/modernizr.min.js}"></script>
	
	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/images/favicon/site.webmanifest}">
	
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" />
	
</head>

<body>

	<!-- HEADER -->
	<div class="navigation-bar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
		<div class="w-container">
			<a class="w-nav-brand w--current" href="http://denali-template.webflow.io/">
				<div class="site-name">Denali</div>
			</a>
			<nav class="navigation-menu w-nav-menu" role="navigation">
				<a class="navigation-link w-nav-link w--current" href="http://denali-template.webflow.io/" style="max-width: 940px;">Home</a>
				<a class="navigation-link w-nav-link" href="http://denali-template.webflow.io/about" style="max-width: 940px;">About</a>
				<a class="navigation-link w-nav-link" href="http://denali-template.webflow.io/contact" style="max-width: 940px;">Contact</a>
			</nav>
			<div class="menu-button w-nav-button">
				<div class="w-icon-nav-menu"></div>
			</div>
		</div>		
		<div class="w-nav-overlay" data-wf-ignore=""></div>
	</div>
	<!-- END HEADER -->
	
	<div class="content-wrapper">
		<div class="w-container">
			
				<!-- START BIO -->
				<div class="w-col w-col-3 w-hidden-small w-hidden-tiny">
					<div class="white-wrapper">
						<img class="circle-profile" sizes="(max-width: 767px) 100vw, (max-width: 991px) 97.296875px, 126px" src="./About_files/56e9f064f237f02b70597848_photo-1443180236447-432ea00e6ead.jpg"
							srcset="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56e9f064f237f02b70597848_photo-1443180236447-432ea00e6ead-p-500x500.jpeg 500w, http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56e9f064f237f02b70597848_photo-1443180236447-432ea00e6ead.jpg 700w">
						<p class="site-description">Denali is a simple responsive blog template. Easily add new posts using the Editor or change layout and design using the Designer.</p>
						<div class="grey-rule"></div>
						<h2 class="small-heading">Featured Posts:</h2>
						<div class="feature-posts-list w-dyn-list">
							<div class="w-dyn-items">
								<div class="w-dyn-item">
									<a class="small-post-link" href="http://denali-template.webflow.io/posts/half-and-half-variety-milk-viennese-body-cappuccino">According a funnily until pre-set or arrogant well cheerful</a>
								</div>
								<div class="w-dyn-item">
									<a class="small-post-link" href="http://denali-template.webflow.io/posts/steamed-siphon-froth-mazagran-cafe-au-lait">Overlaid the jeepers uselessly much excluding</a>
								</div>
							</div>
						</div>
						<div class="grey-rule"></div>
						<div class="social-link-group">
							<a class="social-icon-link w-inline-block" href="http://denali-template.webflow.io/about#">
								<img th:src="@{/images/56cf6e77d3b4fc4579d0a99b_social-03.svg}" width="25">
							</a>
							<a class="social-icon-link w-inline-block" href="http://denali-template.webflow.io/about#">
								<img th:src="@{/images/56cf6e77d3b4fc4579d0a9a9_social-07.svg}" width="25">
							</a>
							<a class="social-icon-link w-inline-block" href="http://denali-template.webflow.io/about#">
								<img th:src="@{/images/56cf6e77d3b4fc4579d0a9bf_social-18.svg}" width="25">
							</a>
							<a class="social-icon-link w-inline-block" href="http://denali-template.webflow.io/about#">
								<img th:src="@{/images/56cf6e77d3b4fc4579d0a9d0_social-09.svg}" width="25">
							</a>
						</div>
						<p class="built-with-webflow">
							Built with <a class="webflow-link" target="_blank" href-disabled="https://webflow.com" href="https://webflow.com/">Webflow</a>
						</p>
					</div>
				</div>
				<!-- END BIO -->
				
				<div class="content-column w-col w-col-9">
					<div class="post-wrapper">
						<div class="post-content">
							<div class="body-copy w-richtext">
								<h1>Get in touch</h1>
								<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo,
									tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
								<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
							</div>
							
							<!-- div class="form-wrapper w-form" not managed anymore -->
							<div class="form-wrapper">
								
								<form data-name="Email Form" id="email-form" name="email-form">
									<label for="Name">Name</label>
									<input class="text-field w-input" data-name="Name" id="Name" maxlength="256" name="Name" placeholder="Enter your name" type="text">
									<label for="Email">Email Address</label><input class="text-field w-input" data-name="Email" id="Email" maxlength="256" name="Email" placeholder="Enter your email address" required="required" type="email">
									<label for="Message">Message</label>
									<textarea class="text-area text-field w-input" data-name="Message" id="Message" maxlength="5000" name="Message" placeholder="Enter your message" required="required"></textarea>
									<input class="button w-button" data-wait="Please wait..." type="submit" value="Submit">
								</form>
								
								<div class="success-message w-form-done">
									<p class="success-text">Thank you! Your submission has been received!</p>
								</div>
								<div class="w-form-fail">
									<p>Oops! Something went wrong while submitting the form</p>
								</div>
								
							</div>
						</div>
					</div>
					<div class="sidebar-on-mobile">
						<div class="white-wrapper">
							<img class="circle-profile" sizes="(max-width: 767px) 100vw, (max-width: 991px) 97.296875px, 126px" src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56e9f064f237f02b70597848_photo-1443180236447-432ea00e6ead.jpg"
								srcset="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56e9f064f237f02b70597848_photo-1443180236447-432ea00e6ead-p-500x500.jpeg 500w, http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56e9f064f237f02b70597848_photo-1443180236447-432ea00e6ead.jpg 700w">
							<p class="site-description">Denali is a simple responsive blog template. Easily add new posts using the Editor or change layout and design using the Designer.</p>
							<div class="grey-rule"></div>
							<h2 class="small-heading">Featured Posts:</h2>
							<div class="feature-posts-list w-dyn-list">
								<div class="w-dyn-items">
									<div class="w-dyn-item">
										<a class="small-post-link" href="/posts/half-and-half-variety-milk-viennese-body-cappuccino">According a funnily until pre-set or arrogant well cheerful</a>
									</div>
									<div class="w-dyn-item">
										<a class="small-post-link" href="/posts/steamed-siphon-froth-mazagran-cafe-au-lait">Overlaid the jeepers uselessly much excluding</a>
									</div>
								</div>
							</div>
							<div class="grey-rule"></div>
							<div class="social-link-group">
								<a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a99b_social-03.svg" width="25"></a><a class="social-icon-link w-inline-block" href="#"><img
									src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a9a9_social-07.svg" width="25"></a><a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a9bf_social-18.svg" width="25"></a><a
									class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a9d0_social-09.svg" width="25"></a>
							</div>
							<p class="built-with-webflow">
								Built with <a class="webflow-link" target="_blank" href-disabled="https://webflow.com" href="https://webflow.com">Webflow</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- JAVASCRIPT -->
	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<!--[if lte IE 9]><script th:src="@{/webjars/Placeholders/3.0.2-1/Placeholders.min.js}"></script><![endif]-->
	
</body>
</html>