<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles"> </th:block> /*/-->
</head>

<body>

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">
			
				<div th:replace="fragments/general.html :: sidebar"></div>
				
				<div class="content-column w-col w-col-9">
					
					<!-- HOLD ALL DYN ITEMS -->
					<div class="w-dyn-list">
						<div class="w-dyn-items">
							
							<div class="w-dyn-item">
								<div class="post-wrapper">
									<div class="post-content">
										<div class="w-row">
											<div class="w-col w-col-4 w-col-medium-4">
												<a class="blog-image w-inline-block" href="http://denali-template.webflow.io/posts/cafe-au-lait-turkish-doppio-ristretto" style="background-image: url(&#39;https://daks2k3a4ib2z.cloudfront.net/56cf6e77d3b4fc4579d0a95f/56e9f2962682addd4d54350d_photo-1441512673622-3eaa1c39ba28.jpg&#39;);"></a>
											</div>
											<div class="w-col w-col-8 w-col-medium-8">
												<a class="blog-title-link w-inline-block" href="http://denali-template.webflow.io/posts/cafe-au-lait-turkish-doppio-ristretto"><h2 class="blog-title">Wherever far wow thus a squirrel raccoon jeez jaguar this from along</h2></a>
												<div class="details-wrapper">
													<div class="post-info">September 8, 2016</div>
													<div class="post-info">|</div>
													<a class="post-info when-link" href="http://denali-template.webflow.io/categories/art">Art</a>
												</div>
												<div class="post-summary-wrapper">
													<p class="post-summary">The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind</p>
													<a class="read-more-link" href="http://denali-template.webflow.io/posts/cafe-au-lait-turkish-doppio-ristretto">Read more...</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="w-dyn-item">
								<div class="post-wrapper">
									<div class="post-content">
										<div class="w-row">
											<div class="w-col w-col-4 w-col-medium-4">
												<a class="blog-image w-inline-block" href="http://denali-template.webflow.io/posts/half-and-half-variety-milk-viennese-body-cappuccino"
													style="background-image: url(&#39;https://daks2k3a4ib2z.cloudfront.net/56cf6e77d3b4fc4579d0a95f/56e9f0aaf237f02b70597a4e_photo-1416934625760-d56f5e79f6fe.jpg&#39;);"></a>
											</div>
											<div class="w-col w-col-8 w-col-medium-8">
												<a class="blog-title-link w-inline-block" href="http://denali-template.webflow.io/posts/half-and-half-variety-milk-viennese-body-cappuccino"><h2 class="blog-title">According a funnily until pre-set or arrogant well cheerful</h2></a>
												<div class="details-wrapper">
													<div class="post-info">September 8, 2016</div>
													<div class="post-info">|</div>
													<a class="post-info when-link" href="http://denali-template.webflow.io/categories/music">Music</a>
												</div>
												<div class="post-summary-wrapper">
													<p class="post-summary">Single shot cultivar beans as chicory caffeine. Medium brewed, milk extra that froth pumpkin spice mocha. Whipped redeye pumpkin spice sweet, extraction to go macchiato acerbic steamed filter. Robusta grounds decaffeinated.</p>
													<a class="read-more-link" href="http://denali-template.webflow.io/posts/half-and-half-variety-milk-viennese-body-cappuccino">Read more...</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="w-dyn-item">
								<div class="post-wrapper">
									<div class="post-content">
										<div class="w-row">
											<div class="w-col w-col-4 w-col-medium-4">
												<a class="blog-image w-inline-block" href="http://denali-template.webflow.io/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano" style="background-image: url(&#39;https://daks2k3a4ib2z.cloudfront.net/56cf6e77d3b4fc4579d0a95f/56e9f2b12682addd4d54350f_3f4eb74a.jpg&#39;);"></a>
											</div>
											<div class="w-col w-col-8 w-col-medium-8">
												<a class="blog-title-link w-inline-block" href="http://denali-template.webflow.io/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano"><h2 class="blog-title">Coffee sugar, chicory seasonal espresso barista americano</h2></a>
												<div class="details-wrapper">
													<div class="post-info">September 8, 2016</div>
													<div class="post-info">|</div>
													<a class="post-info when-link" href="http://denali-template.webflow.io/categories/music">Music</a>
												</div>
												<div class="post-summary-wrapper">
													<p class="post-summary">Arista, percolator, cream, aromatic, fair trade, breve body instant lungo blue mountain cappuccino. Americano aroma mug espresso latte crema milk redeye acerbic. Galão robusta instant, decaffeinated, so fair trade wings.</p>
													<a class="read-more-link" href="http://denali-template.webflow.io/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano">Read more...</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="w-dyn-item">
								<div class="post-wrapper">
									<div class="post-content">
										<div class="w-row">
											<div class="w-col w-col-4 w-col-medium-4">
												<a class="blog-image w-inline-block" href="http://denali-template.webflow.io/posts/steamed-siphon-froth-mazagran-cafe-au-lait"
													style="background-image: url(&#39;https://daks2k3a4ib2z.cloudfront.net/56cf6e77d3b4fc4579d0a95f/56e9f09af237f02b70597a48_photo-1416949929422-a1d9c8fe84af.jpg&#39;);"></a>
											</div>
											<div class="w-col w-col-8 w-col-medium-8">
												<a class="blog-title-link w-inline-block" href="http://denali-template.webflow.io/posts/steamed-siphon-froth-mazagran-cafe-au-lait"><h2 class="blog-title">Overlaid the jeepers uselessly much excluding</h2></a>
												<div class="details-wrapper">
													<div class="post-info">September 8, 2016</div>
													<div class="post-info">|</div>
													<a class="post-info when-link" href="http://denali-template.webflow.io/categories/tech">Tech</a>
												</div>
												<div class="post-summary-wrapper">
													<p class="post-summary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
													<a class="read-more-link" href="http://denali-template.webflow.io/posts/steamed-siphon-froth-mazagran-cafe-au-lait">Read more...</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="w-dyn-item">
								<div class="post-wrapper">
									<div class="post-content">
										<div class="w-row">
											<div class="w-col w-col-4 w-col-medium-4">
												<a class="blog-image w-inline-block" href="http://denali-template.webflow.io/posts/coffee-variety-macchiato-as-organic-ut-variety-caffeine-americano"
													style="background-image: url(&#39;https://daks2k3a4ib2z.cloudfront.net/56cf6e77d3b4fc4579d0a95f/56e9f0e57b8d53d44d934eff_photo-1443304895043-ef30921332c5.jpg&#39;);"></a>
											</div>
											<div class="w-col w-col-8 w-col-medium-8">
												<a class="blog-title-link w-inline-block" href="http://denali-template.webflow.io/posts/coffee-variety-macchiato-as-organic-ut-variety-caffeine-americano"><h2 class="blog-title">Coffee variety macchiato, as organic ut variety caffeine americano</h2></a>
												<div class="details-wrapper">
													<div class="post-info">September 8, 2016</div>
													<div class="post-info">|</div>
													<a class="post-info when-link" href="http://denali-template.webflow.io/categories/travel">Travel</a>
												</div>
												<div class="post-summary-wrapper">
													<p class="post-summary">Saucer, crema carajillo, bar, mocha medium, latte cappuccino and espresso acerbic to go. Coffee, irish foam turkish coffee blue mountain seasonal. Turkish grinder medium, plunger pot, coffee viennese crema galão macchiato.</p>
													<a class="read-more-link" href="http://denali-template.webflow.io/posts/coffee-variety-macchiato-as-organic-ut-variety-caffeine-americano">Read more...</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<div class="button-wrapper">
						<a class="button w-button" href="http://denali-template.webflow.io/all-posts">More posts&nbsp;&rarr;</a>
					</div>
					
					<div th:replace="fragments/general.html :: mobile-sidebar"></div>
					
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/general.html :: footerfiles"></div>

</body>

</html>