<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index</title>
	<!--/*/ <th:block th:include="fragments/general.html :: headerfiles_level_1"> </th:block> /*/-->
</head>

<body>

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="content-wrapper">
		<div class="w-container">
			<div class="w-row">
			
				<div th:replace="fragments/general.html :: sidebar_level_1"></div>
				
				<div class="content-column w-col w-col-9">
				
					<h1 class="white-bg-heading">All Posts</h1>
				
					<div class="w-dyn-list">
						<div class="w-dyn-items">
							<div th:replace="fragments/dynamic.html :: showbytag"></div>
						</div>
					</div>
					
					<div class="button-wrapper">
						<a class="button w-button" th:href="@{/all-posts}">Mais postagens&nbsp;&rarr;</a>
					</div>
					
					<div th:replace="fragments/general.html :: mobile-sidebar_level_1"></div>
					
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/general.html :: footerfiles"></div>

</body>

</html>